@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Orbitron:wght@500&display=swap");

:root {
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Orbitron", sans-serif;
  width: 100vw;
  height: 100vh;
  background: var(--greyLight-1);
}
.App {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 45%;
  background-color: #6d5dfc;
}

.title {
  background-color: #00ab66;
}
.calculator {
  background-color: #007fff;
  margin-top: 5rem;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-1 {
  position: relative;
  top: 30%;
  width: 24em;
  margin: 0 auto;
  font-size: 180%;
  margin-left: 5rem;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.main-container {
  width: 350px;
  height: 650px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 25px;
  background: var(--greyLight-1);
}

.screen-container {
  width: 310px;
  height: 150px;
  font-size: 45px;
  border: none;
  text-align: end;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin: 20px;
  font-family: "Antic Slab", serif;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: none;
  margin-top: 70px;
  padding-top: 75px;
  background-color: #e5eaef;
}

.screen-container:focus {
  outline: none;
}

.btn-wrapper {
  width: 310px;
  height: 370px;
  border-radius: 25px;
  padding: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "long-btn long-btn . .";
  gap: 0;
  font-size: 25px;
  text-align: center;
  line-height: 2.5;
}

.long-btn {
  cursor: pointer;
  grid-area: long-btn;
  width: 140px;
  height: 60px;
  background-color: #e5eaef;
  border-radius: 15px;
  color: #6e605e;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}

.btn {
  cursor: pointer;

  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
  width: 60px;
  height: 60px;
  background-color: #e5eaef;
  border-radius: 25%;
  color: #6e605e;
}

.btn:active,
.long-btn:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

.red-btn {
  color: #e5eaef;
  background-color: #eb1d36;
  box-shadow: inset 0.2rem 0.2rem 1rem #ec7272,
    inset -0.2rem -0.2rem 1rem #c21010, 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}

.red-btn:active {
  box-shadow: inset 0.5rem 0.2rem 1rem #c21010,
    inset -0.2rem -0.2rem 1rem #ec7272;
}

.blue-btn {
  color: #e5eaef;
  background-color: #0096ff;
  box-shadow: inset 0.2rem 0.2rem 1rem #7cb9e8,
    inset -0.2rem -0.2rem 1rem #007fff, 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}

.blue-btn:active {
  box-shadow: inset 0.5rem 0.2rem 1rem #007fff,
    inset -0.2rem -0.2rem 1rem #7cb9e8;
}

.green-btn {
  color: #e5eaef;
  background-color: #1c6758;
  border-radius: 50%;
  box-shadow: inset 0.2rem 0.2rem 1rem #00ab66,
    inset -0.2rem -0.2rem 1rem #1c6758, 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}

.green-btn:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #1c6456,
    inset -0.2rem -0.2rem 1rem #00ab66;
}

.yellow-btn {
  color: #e5eaef;
  background-color: #ffc72c;
  border-radius: 50%;
  box-shadow: inset 0.2rem 0.2rem 1rem #f0e68c,
    inset -0.2rem -0.2rem 1rem #febe10, 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
}

.yellow-btn:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #febe10,
    inset -0.2rem -0.2rem 1rem #f0e68c;
}
/* _____________________MEDIA QUERIES(MEDIUM DEVICES)___________________________ */
@media screen and (max-width: 1350px) {
  .title p {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    grid-template-columns: 50% 10%;
    height: 100vh;
    width: 100%;
  }
  .calculator {
    background-color: transparent;
    margin-top: 0;
  }
  .title {
    margin-top: 2rem;
  }
  .title p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 50%;
    right: 95%;
  }
}

@media screen and (max-width: 880px) {
  .title p {
    display: none;
  }
}

/* _____________________MEDIA QUERIES(SMALL DEVICES)___________________________ */
@media screen and (max-width: 600px) {
  .App {
    width: 100%;
  }
}
